/*------------------- BASIC SETUP -------------------*/

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    font-family: 'Bitter', serif;
    color: black;
}

#navbar {
    margin: 0 auto 2vh auto;
    width: 90%;
    text-align: center;
    font-family: 'Bitter', serif;
    padding: 10px 0;
    border-top: 3px solid rgb(63, 63, 63);
    border-bottom: 2px solid rgba(128, 128, 128, 0.198);
}

#navbar a {
    text-decoration: none;
    color: inherit;
    transition: color 0.4s ease-in-out;
    position: relative;
    display: inline-block;
}

#navbar a:hover {
    color: #a5785e;
}

#navbar a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: -4px;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #a5785e;
    transition: width 0.2s ease 0s, left 0.2s ease 0s;
    width: 0;
}

#navbar a:hover:after {
    width: 100%;
    left: 0;
}

.sns {
    margin-top: 5%;
    padding-right: 10%;
}

.sns li {
    list-style: none;
    float: right;
}

.sns a {
    font-size: 2rem;
    margin: 0 20px;
    text-decoration: none;
    color: inherit;
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
}

h2 {
    display: inline-block;
    position: relative;
    margin-top: 5vh;
}

h2:before,
h2:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    top: 49%;
    width: 20vw;
}

h2:before {
    right: 100%;
    margin-right: 15px;
}

h2:after {
    left: 100%;
    margin-left: 15px;
}

#bw {
    cursor: pointer;
}

.switch img {
    height: 40px;
}

.col-7,
.col-3,
.col-4 {
    height: 70vh;
    margin: 10px;
    position: relative;
}

.top {
    float: left;
    padding: 0 5%;
    background-color: black;
    color: white;
    font-size: 0.8rem;
    margin: 0;
}

.bottom {
    float: left;
    font-size: 1.6rem;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0 5px;
}

.bottomright {
    position: absolute;
    bottom: 50px;
    right: 50px;
}

.bottomleft {
    position: absolute;
    bottom: 50px;
    left: 50px;
}

#chics {
    background-image: url("../img/breakfast/chics.jpg");
    background-size: 110%;
    background-position-y: 40%;
    background-position-x: 70%;
    background-repeat: no-repeat;
}

#honeyc {
    background-image: url("../img/breakfast/honeyc.jpg");
    background-size: 100%;
    background-position-y: 70%;
    background-position-x: 70%;
    background-repeat: no-repeat;
}

#butter {
    background-image: url("../img/breakfast/butter.jpg");
    background-size: 100%;
    background-position-y: 60%;
    background-position-x: 70%;
    background-repeat: no-repeat;
}

#nanban {
    background-image: url("../img/japanese/nanban.jpg");
    background-size: 100%;
    background-position-y: 70%;
    background-position-x: 70%;
    background-repeat: no-repeat;
}

#tamago {
    background-image: url("../img/japanese/tamago.jpg");
    background-size: 100%;
    background-position-y: 50%;
    background-position-x: 70%;
    background-repeat: no-repeat;
}

#nikujaga {
    background-image: url("../img/japanese/nikujaga.jpg");
    background-size: 100%;
    background-position-y: 100%;
    background-position-x: 70%;
    background-repeat: no-repeat;
}

#stew {
    background-image: url("../img/japanese/stew.jpg");
    background-size: 100%;
    background-position-y: 70%;
    background-position-x: 100%;
    background-repeat: no-repeat;
}

.dark-mode {
    background-color: black;
    color: white;
}