/*------------------- BASIC SETUP -------------------*/

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    font-family: 'Bitter', serif;
    color: black;
}

#navbar {
    margin: 0 auto 2vh auto;
    width: 90%;
    text-align: center;
    font-family: 'Bitter', serif;
    padding: 10px 0;
    border-top: 3px solid black;
    border-bottom: 2px solid rgba(128, 128, 128, 0.198);
}

.sns {
    padding-right: 10%;
    margin-top: 3%;
}

.sns li {
    list-style: none;
    float: right;
}

.sns a {
    font-size: 2rem;
    margin: 0 20px;
    text-decoration: none;
    color: inherit;
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
}

#bw {
    cursor: pointer;
}

.switch img {
    height: 40px;
}

.col-7,
.col-3,
.col-4 {
    height: 70vh;
    margin: 10px;
}

#chics {
    background-image: url("../img/breakfast/chics.jpg");
    background-size: 110%;
    background-position-y: 40%;
    background-position-x: 70%;
    background-repeat: no-repeat;
}

#honeyc {
    background-image: url("../img/breakfast/honeyc.jpg");
    background-size: 100%;
    background-position-y: 70%;
    background-position-x: 70%;
    background-repeat: no-repeat;
}

#butter {
    background-image: url("../img/breakfast/butter.jpg");
    background-size: 100%;
    background-position-y: 60%;
    background-position-x: 70%;
    background-repeat: no-repeat;
}

.dark-mode {
    background-color: black;
    color: white;
}