/*------------------- BASIC SETUP -------------------*/

html {
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    position: relative;
    overflow-x: hidden;
    font-family: 'Bitter', serif;
}

.dark-mode {
    background-color: black;
    color: white;
}

#navbar {
    margin: 0 auto 2vh auto;
    width: 90%;
    text-align: center;
    font-family: 'Bitter', serif;
    padding: 10px 0;
    border-top: 3px solid black;
    border-bottom: 2px solid rgba(128, 128, 128, 0.198);
}

.sns {
    padding-right: 10%;
    margin-top: 3%;
}


/* .sns button {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMHB4IiB5PSIwcHgiIHZpZXdCb3g9IjAgMCAzMiAzMiI+PHBhdGggZD0iTTcuMywxNmMwLDQuOCwzLjksOC43LDguNyw4LjdWNy4zQzExLjIsNy4zLDcuMywxMS4yLDcuMywxNnoiPjwvcGF0aD48cGF0aCBkPSJNMTYsMkM4LjMsMiwyLDguMywyLDE2YzAsNy43LDYuMywxNCwxNCwxNGM3LjcsMCwxNC02LjMsMTQtMTRDMzAsOC4zLDIzLjcsMiwxNiwyeiBNMTYsMjYuNWMtNS44LDAtMTAuNS00LjctMTAuNS0xMC41ICAgIGMwLTUuOCw0LjctMTAuNSwxMC41LTEwLjVTMjYuNSwxMC4yLDI2LjUsMTZDMjYuNSwyMS44LDIxLjgsMjYuNSwxNiwyNi41eiI+PC9wYXRoPjwvc3ZnPg==");
    width: 40px;
    height: 40px;
    border: 0;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
} */

.sns li {
    list-style: none;
    float: right;
}

.sns a {
    font-size: 2rem;
    margin: 0 20px;
    text-decoration: none;
    color: black;
    -webkit-transition: color 0.4s ease-in-out;
    transition: color 0.4s ease-in-out;
}

.sns a:hover {
    color: rgba(0, 0, 0, 0.602);
}

.switch {
    border: 0;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.switch img {
    height: 40px;
}

.col-7,
.col-3,
.col-4 {
    height: 70vh;
    margin: 10px;
}

#chics {
    background-image: url("../img/breakfast/chics.jpg");
    background-size: 110%;
    background-position-y: 40%;
    background-position-x: 70%;
    background-repeat: no-repeat;
}

#honeyc {
    background-image: url("../img/breakfast/honeyc.jpg");
    background-size: 100%;
    background-position-y: 70%;
    background-position-x: 70%;
    background-repeat: no-repeat;
}

#butter {
    background-image: url("../img/breakfast/butter.jpg");
    background-size: 100%;
    background-position-y: 60%;
    background-position-x: 70%;
    background-repeat: no-repeat;
}